<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kokaihop-Reset Your Password</title>
</head>
<body>

<h1>Awww, you forgot your password !! Lemme help ..</h1>
<hr/>
<p>
    Click <a href="<%- passwordResetUrl %>">Reset My Password</a>, to quickly reset your account password.
</p>

<p>
    If clicking the link does not work, you can copy and paste the following link into your browser's url bar.
    <br/>
    <code>
        <%- passwordResetUrl %>
    </code>
</p>

<br/><br/>
<p>If you did not request your password to be changed, your account may have been compromised. Please change your password ASAP.</p>
</body>
</html>